* {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
}


html {
    margin: 20px;
}

p, ul, ol {
    max-width: 50em;
}

nav {
    padding: 1rem;
}

nav img {
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    margin-right: 3rem;
}

@media print {
    nav {
        display: none
    }
}